/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f1f1f1;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header Styles */
  header {
    background-color: #242424;
    color: #fff;
    padding: 20px;
    text-align: right;
    
  }
  
  .menu ul {
    list-style-type: none;
  }
  
  .menu ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .menu ul li a {
    color: #fff;
    text-decoration: none;
  }


  
  /* Hero Section Styles */
  .hero {
    background-image: url(bg1.png);
    background-size: auto;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
  }
  
  /* About Section Styles */
  .about {
    background-color: #222;
    color: #e5e5e5;
    padding: 60px 20px;
    text-align: center;
  }
  
  .about h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .about h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Skill Section Styles */
  .skill1{
    padding-top: 50px;
    text-align: center;
    font-size: 32px;
  }
  .skill {
    background-color: #f1f1f1;
    color: #333;
    padding: 60px 20px;
    display: flex;
    align-items: center;
  }
  
  .img {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
  }
  
  .skill h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .skill img {
    max-width: 90%;
    height: auto;
  }
  
  /* Contact Section Styles */
  .contact {
    background-color:#1a1a1a;
    color:  #fff;
    padding: 60px 20px;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .contact h3{
    font-size: 32px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Media Queries */
  @media (max-width: 767px) {
    .hero h1 {
      font-size: 32px;
    }
    .hero p {
      font-size: 18px;
    }
    .about h2 {
      font-size: 24px;
    }
    .about h3 {
      font-size: 18px;
    }
    .skill h3 {
      font-size: 18px;
    }
    .contact h2 {
      font-size: 24px;
    }
  }
  

.c {
    text-align: center;
}
.overlay { /* グレーの背景 */
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.5s 0s ease;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#pop-up {
  display: none;
}
#pop-up:checked + .overlay {
  visibility: visible;
  opacity: 1;
  z-index: 100000;
  background-color: #000000D0;
  width: 100%;
}
.popWindow {
  border-radius: 5px;
  overflow: auto; 
  max-height: 95%; 
  min-width: fit-content; 
  max-width: 95%; 
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 100010;
  font-size: 13px;
  line-height: 18px;
  margin: 10px auto;
  padding: 4px 10px;
  background: #FFFD; 
  text-align: center; 
  transition: all 500ms ease-in-out;
}
.popWindow .ptitle {
  font-size: 15px;
  margin: 8px;
  color: #333;
}
.popWindow .close {
  position: absolute;
  top: 8px;
  right: 10px;
  transition: all 300ms;
  font-size: 24px;
  line-height: inherit;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  padding: 2px;
}
.popWindow .close:hover {
  color: #06D85F;
}
.popWindow::-webkit-scrollbar-track {
  background: none;
}
.popWindow::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.popWindow::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}
.clickable:hover {
  cursor: pointer;
}
@media screen and (max-width: 700px){
  #pop-up:checked + .overlay {
    visibility: hidden;
    opacity: 0;
  }
}
